/* default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
font-family: 'PT Sans', sans-serif;
}


.container{
    width: 90%;
    margin:auto;
}


a{
    text-decoration: none;
}

/* ===header============================================================ */


header{
    color: white;
    background-color: rgb(0, 157, 255);
    padding: 30px  0;
    position: fixed;
    width: 100%;
    z-index: 500;
    top:0;
}

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    /* menu */
nav{
    display: none;
}

header a{
    color: white;
}

header ul{
    list-style-type: none;
}

header li{
    font-size: 18px;
    display: inline;
    margin-left:15px ;
}


.fa-bars{
    color: white;
}

li .get_started{
    color: black;
    background-color: white;
    border-radius: 50px;
    padding: 14px;
}



/*======= header_MQ */

/* Desktop */
@media all and (min-width:1200px){
    .container{
        width: 70%;
        margin:auto;
    }

        #icon_menu{
            display: none;
        }

        nav{
            display: inline-block;
        }

}



/*=== main ================================================================================================== */
main{
    padding-top: 100px;
}
section{
    padding: 30px 0;
    padding: 20px 0;
    /* debug */
    min-height: 150px;
}

section:nth-child(even){
    background-color: rgb(152, 150, 226);
}

p{
    line-height: 1.8;
}

/* === first section */


.first .card{
    background-color: rgb(182, 230, 247);
}

.card{
    border-radius: 40px;
    margin-top: 10px;  
    padding:20px; 
 /* debug */
    min-height: 100px;
   
}

.first .card{
    font-weight: bold;
}

.first p{
    margin:20px auto;
    color: rgb(94, 94, 94);
}

.first h3{
    margin-top: 20px;
    color:rgb(0, 157, 255) ;
    font-size: 26px;
}

/* demo */

#demo .card{
padding-bottom:0;

}

.demo_info{
    margin:auto;
  
}

.demo_info .button{
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    margin: 15px auto;
    max-width: 200px;
    min-width:100px;
    background-color: rgb(0, 157, 255);
   padding: 10px;
}

.button a{
    color: white;
}

.demo_img{
    position: relative;
    bottom: 0;
}

.demo_img img{
    width: 100%;
    max-width:390px ;
    display: block;
}

.demo_ico{
    margin: 30px auto;
   font-size: 90px;
}

.ico{
    text-align: center ;
}


/* === first section _ MQ================ */

/* tablet */

@media all and (min-width:580px){
 .first .container .row{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    
 }

 .first .col{
    width: calc(100% / 3);
    padding: 5px;
    display: flex;
    flex-direction: column;
   
 }

 .card{
    height: 100%;
 }

 #demo{
 width: calc(200% / 3);
 }

 .demo_info .button{
    margin:15px 0;
 }

}

/* desktop */

@media all and (min-width:1200px){
 #demo .card{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }

 .demo_info{
    width: 50%;
 }

}


/* ==== Planning Section */

.illustration{
    width: 100%;
}

.planning h2 , .planning p{
    color: white;
    margin:30px 0;
    font-weight: bold;
}

.planning h2{
    font-size: 28px;
    margin-top: 70px;
}

.planning .card{
    background-color: white;
    text-align: center;
  
}

.planning .card p{
    color: black;
    font-style: italic;
}


.down_button{
    background-color: rgb(152, 150, 226);
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    margin: 15px auto;
    max-width: 200px;
    min-width:100px;
    padding: 10px;
    margin: 10px 0;
    clip-path: circle();
}

/* === first section _ MQ================ */

/* desktop */

@media all and (min-width:1200px){
    .planning .row{
        display: flex;
        align-items: flex-end;
        gap: 30px;
    }

    .planning .card .illustration{
        width: 60%;
    }

   
}


/* === TESTIMONIAL SECTION  */

#testimonials{
    text-align: center;
}

#testimonials h3{
    font-size: 28px;
    color:  rgb(152, 150, 226);
    margin: 20px 0;
}

#testimonials .card{
    background-color: rgb(152, 150, 226);
    color: white;
    text-align: center;
    font-weight: bold;
}

#testimonials .card p{
    margin:30px 0;
}


#testimonials img{
    width: 100%;
    clip-path: circle();
    margin-top: 20px;
}


/* === Testimonial Section_MQ======================== */

/* tablet */

@media all and (min-width:580px){
    #testimonials .row{
        display: flex;
        align-items: center;
    }

    #testimonials .card{
        text-align:left;   
    }
    }

    /* ==== Benefit Section */

    #benefits h3{
        color: white;
        margin: 30px 0;
        font-size: 28px;
        text-align: center;
    }

    #benefits .card{
        background-color: white;
       
    }

    #benefits .button{
        background-color: rgb(152, 150, 226);
       
    }


    #benefits .button{
        background-color: rgb(152, 150, 226);
        padding: 15px;
        margin:20px auto;
        height: 40px;
        width: 100px;
        line-height: 10px;
        text-align: center;
        border-radius: 20px;
        display:block;
        font-weight: bold;
    }

    .number{
        font-size: 50px;
        color: rgb(152, 150, 226);
    }

    #benefits h4{
        font-size: 28px;
        margin: 20px 0;
        color: rgb(152, 150, 226);
    }

    .avatar{
        position: relative;
    }

    #quote{
        position: absolute;
        top: 0;
        left: 50%;
        font-size: 100px;
    }
    

    /* ==== Benefit Section_MQ ====================== */

   

    /* tablet */

    @media all and (min-width:580px){
        #benefits .row{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        #benefits .col{
           width:calc(50% - 20px) ;
           margin: 10px;
        }
        
    }

    /* desktop */

    @media all and (min-width:1200px){
     
        #benefits .col{
            width: 30% ;
        }
    }    

    /* ==== about section */

    

     #about h3{
        font-size: 28px;
        margin: 20px 0;
        color: rgb(152, 150, 226);
        margin: 30px 0;
        font-size: 28px;
     }

     #about p{
        margin: 20px 0;
     }

     #about img{
    width: 70%;
    clip-path: circle();
    margin-top: 20px;
     }

.avatar .button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(152, 150, 226);
    padding: 15px;
    margin: 20px 0;
    height: 40px;
    max-width: 200px;
    border-radius: 20px;    
    font-weight: bold;

}

.fa-linkedin{
    margin-right: 10px;
}

    /* ==== about section_MQ================================== */

    @media all and (min-width:580px){


        #about .row{
            display: flex;
            gap: 30px;
        }

        #about .col{
            
            margin: 10px;
    }
}


    /* === started section */

#started{
    color: white;
    text-align: center;
}

#started h5{
    font-weight: normal;
    margin-bottom: 10px;
}

#started h3{
    font-size: 28px;
    margin-bottom: 10px;
}


#started h4{
    font-size: 58px;
    color: rgb(255, 191, 72);
    margin-bottom: 10px;
}


#started .button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(152, 150, 226);
    padding: 15px;
    margin: 20px auto;
    height: 40px;
    max-width: 200px;
    border-radius: 20px;    
    font-weight: bold;
}

#started .button a{
    color: rgb(152, 150, 226);
}


#started p a{
    color: white;
    text-decoration: underline;
}


.fa-circle{
    font-size: 5px;
}

/*=== footer =============================================================*/

footer{
    padding-top: 15px;
    color: white;
    background-color: rgb(51, 51, 51);
    text-align: center;

    /* debug */
    min-height: 150px;

}


footer p{
    padding:15px 0;
}

footer p a{
    color: rgb(152, 150, 226);
    text-decoration: underline;
}