/* default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
font-family: 'PT Sans', sans-serif;
}

.container{
    width: 90%;
    margin:auto;
}


/* ===header============================================================ */


header{
    color: white;
    background-color: rgb(0, 157, 255);
    padding: 30px  0;
    position: fixed;
    width: 100%;
    z-index: 500;
    top:0;
}

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    /* menu */
nav{
    display: none;
}

header a{
    text-decoration: none;
    color: white;
}

header ul{
    list-style-type: none;
}

header li{
    font-size: 18px;
    display: inline;
    margin-left:15px ;
}


.fa-bars{
    color: white;
}

li .get_started{
    color: black;
    background-color: white;
    border-radius: 50px;
    padding: 14px;
}



/*======= header_MQ */

/* Desktop */
@media all and (min-width:1200px){
    .container{
        width: 70%;
        margin:auto;
    }

        #icon_menu{
            display: none;
        }

        nav{
            display: inline-block;
        }

}



/*=== main ================================================================================================== */
main{
    padding-top: 100px;
}
section{
    padding: 30px 0;
    /* debug */
    min-height: 150px;
}

section:nth-child(even){
    background-color: rgb(152, 150, 226);
}

/* === first section */
.card{
    border-radius: 40px;
    /* debug */
    min-height: 100px;
    background-color: rgb(182, 230, 247);
  
}


/* === first section _ MQ================ */

@media all and (min-width:480px){
 .first .container .row{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    
 }

 .col{
    width: calc(100% / 3);
    padding: 5px;
 }

 .card{
    height: 100%;
 }

 #demo{
 width: calc(200% / 3);
 }

}



/*=== footer =============================================================*/

footer{
    color: white;
    background-color: darkgray;

    /* debug */
    min-height: 150px;

}
