/* default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
font-family: 'PT Sans', sans-serif;
}

.container{
    width: 90%;
    margin:auto;
}


a{
    text-decoration: none;
}

/* ===header============================================================ */


header{
    color: white;
    background-color: rgb(0, 157, 255);
    padding: 30px  0;
    position: fixed;
    width: 100%;
    z-index: 500;
    top:0;
}

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    /* menu */
nav{
    display: none;
}

header a{
    color: white;
}

header ul{
    list-style-type: none;
}

header li{
    font-size: 18px;
    display: inline;
    margin-left:15px ;
}


.fa-bars{
    color: white;
}

li .get_started{
    color: black;
    background-color: white;
    border-radius: 50px;
    padding: 14px;
}



/*======= header_MQ */

/* Desktop */
@media all and (min-width:1200px){
    .container{
        width: 70%;
        margin:auto;
    }

        #icon_menu{
            display: none;
        }

        nav{
            display: inline-block;
        }

}



/*=== main ================================================================================================== */
main{
    padding-top: 100px;
}
section{
    padding: 30px 0;
    /* debug */
    min-height: 150px;
}

section:nth-child(even){
    background-color: rgb(152, 150, 226);
}

/* === first section */


.card{
    border-radius: 40px;
    margin-top: 10px;  
    padding:20px; 
 /* debug */
    min-height: 100px;
    background-color: rgb(182, 230, 247);
}

.first .card{
    font-weight: bold;
}

.first p{
    margin:20px auto;
    color: rgb(94, 94, 94);
}

.first h3{
    margin-top: 20px;
    color:rgb(0, 157, 255) ;
    font-size: 26px;
}

/* demo */

#demo .card{
padding-bottom:0;

}

.demo_info{
    margin:auto;
  
}

.demo_info .button{
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    margin: 15px auto;
    max-width: 200px;
    min-width:100px;
    background-color: rgb(0, 157, 255);
   padding: 10px;
}

.button a{
    color: white;
}

.demo_img{
    position: relative;
    bottom: 0;
}

.demo_img img{
    width: 100%;
    max-width:390px ;
    display: block;
}

.demo_ico{
    margin: 30px auto;
   font-size: 90px;
}

.ico{
    text-align: center ;
}


/* === first section _ MQ================ */

/* tablet */

@media all and (min-width:580px){
 .first .container .row{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    
 }

 .col{
    width: calc(100% / 3);
    padding: 5px;
   
 }

 .card{
    height: 100%;
 }

 #demo{
 width: calc(200% / 3);
 }

 .demo_info .button{
    margin:15px 0;
 }

}

/* desktop */

@media all and (min-width:1200px){
 #demo .card{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }

 .demo_info{
    width: 50%;
 }

}



/*=== footer =============================================================*/

footer{
    color: white;
    background-color: darkgray;

    /* debug */
    min-height: 150px;

}
